.App {
  background-color: #edede5;
  text-align: center;
}

.App-header {
  background-color: #6f7187;
  height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}

.Nav {
  font-size: 10px + 1vmin;
  padding: 1%;
  display: flex;
  background-color: #788d9c;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  padding-left: 0%;
  list-style: none;
}
.Review-list {
  font-size: 9px;
  margin: 1%;
  min-width: 30em;
  background-color: #6f7187;
  display: inline-block;
  list-style: none;
  border-radius: 10px;
  border: 2px;
  border-style: solid;
  box-shadow: 7px 5px 10px black;
}

.Full-review-button {
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-radius: 15px;
  background-color: #8b979f;
  
}
