.App {
  background-color: #edede5;
  text-align: center;
}

.App-header {
  background-color:#edede5;
  height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  margin-bottom: 1%;
}

.Nav {
  margin: 1%;
  font-size: 1px + 1vmin;
  padding: 1%;
  display: flex;
  background-color: #edede5;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid black;
  border-bottom: solid black;
}
.Link {
  color: black;
}

ul {
  padding: 1%;
  list-style: none;
  max-width: 100%;
}
.Review-list {
  font-size: 9px;
  margin: 1%;
  min-width: 30em;
  max-width: 70em;
  background-color: #edede5;
  display: inline-block;
  list-style: none;
  border-radius: 10px;
  border: 4px;
  border-style: solid;
  box-shadow: 3px 3px 2px black;
}

.Full-review-button {
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-radius: 15px;
  background-color: #8b979f;
}

p {
  padding-left: 1%;
  padding-right: 1%;
}

.Comment-list {
  font-size: 8px;
  margin: 1%;
  min-width: 40em;
  max-width: 40em;
  min-height:min-content;
  background-color: #edede5;
  display: inline-block;
  list-style: none;
  border-radius: 10px;
  border: 4px;
  border-style: solid;
  box-shadow: 2px 2px 2px black;
}

.Comment-header {
  border-top: solid black;
  border-bottom: solid black;
}

button {
  margin-bottom: 2%;
}
